* {
    outline: 1px solid BLACK;
}
#a {
    background-color: red;
}

#b {
    background-color: blue;
}

#p {
    background-color: yellow;
}

#d {
    background-color: green;
}

#e {
    background-color: orange;
}

#f {
    background-color: purple;
}

#g {
    background-color: hotpink;
}

#h {
    background-color: limegreen;
}

#i {
    background-color: cyan;
}


@media (max-width: 480px) {
    #a {
        background-color: black;
    }
    
    #b {
        background-color: white;
    }
    
    #p {
        background-color: lightblue;
    }
    
    #d {
        background-color: lightcoral;
    }
    
    #e {
        background-color: lightslategray;
    }
    
    #f {
        background-color: gray;
    }
    
    #g {
        background-color: lightsalmon;
    }
    
    #h {
        background-color: lightgreen;
    }
    
    #i {
        background-color: skyblue;
    }
    
}

@media (max-width:768px) {
    #a {
        background-color: maroon;
    }
    
    #b {
        background-color: magenta;
    }
    
    #p {
        background-color: gold;
    }
    
    #d {
        background-color: forestgreen;
    }
    
    #e {
        background-color: violet;
    }
    
    #f {
        background-color: blueviolet;
    }
    
    #g {
        background-color: powderblue;
    }
    
    #h {
        background-color: peru;
    }
    
    #i {
        background-color: aliceblue;
    }
    
}