* {
    outline: 1px solid BLACK;
}

html {
    outline: none;
}

#a {
    background-color: red;
}

#b {
    background-color: blue;
}

#p {
    background-color: yellow;
}

#d {
    background-color: green;
}

#e {
    background-color: orange;
}

#f {
    background-color: purple;
}

#g {
    background-color: hotpink;
}

#h {
    background-color: limegreen;
}

#i {
    background-color: cyan;
}


@media (max-width: 480px) {
    #a {
        background-color: black;
    }
    
    #b {
        background-color: white;
    }
    
    #p {
        background-color: lightblue;
    }
    
    #d {
        background-color: lightcoral;
    }
    
    #e {
        background-color: lightslategray;
    }
    
    #f {
        background-color: gray;
    }
    
    #g {
        background-color: lightsalmon;
    }
    
    #h {
        background-color: lightgreen;
    }
    
    #i {
        background-color: skyblue;
    }
    
}

@media (max-width:768px) {
    #a {
        background-color: maroon;
    }
    
    #b {
        background-color: magenta;
    }
    
    #p {
        background-color: gold;
    }
    
    #d {
        background-color: forestgreen;
    }
    
    #e {
        background-color: violet;
    }
    
    #f {
        background-color: blueviolet;
    }
    
    #g {
        background-color: powderblue;
    }
    
    #h {
        background-color: peru;
    }
    
    #i {
        background-color: aliceblue;
    }
    
}

@media (max-width:420px) {
    #a {
        background-color: rgb(60, 214, 168);
    }
    
    #b {
        background-color: rgb(150, 202, 27);
    }
    
    #p {
        background-color: rgb(0, 68, 255);
    }
    
    #d {
        background-color: rgb(204, 65, 151);
    }
    
    #e {
        background-color: rgb(148, 17, 0);
    }
    
    #f {
        background-color: rgb(0, 255, 76);
    }
    
    #g {
        background-color: rgb(98, 100, 100);
    }
    
    #h {
        background-color: rgb(255, 128, 0);
    }
    
    #i {
        background-color: rgb(68, 0, 255);
    }
    
}
