body {
    display: grid;
    grid-template: 13.020833333% 26.041666666% 32.552083333% 19.53125% / 20.833333333% repeat(2, 39.583333333%);
    text-align: center;
    margin: 0 auto;
}

#a {
    grid-area: 1 / span 3;
}

#b {
    grid-area: span 3 / 1;
}

/* tablet */
@media  (max-width: 768px) {
    body {
        display: grid;
        grid-template: 13.020833333% 26.041666666% 32.552083333% 19.53125% / 20.833333333% repeat(2, 39.583333333%);
        max-width: 960px;
        max-height: 768px;
        text-align: center;
        margin: 0 auto;
    }
}
